{% extends "base.html" %}

{% block title %}Boggle It Up!{% endblock %}

{% block content %}

	<div id="timer-wrapper"></div>

	<div id="board" class="m-auto">
		{% for row in range(size) %}
		<div class="board-row">
			{% for ltr in board[row] %}
				<span class="letter">{{ ltr }}</span>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
	

	<form id="guess-form" action="#" method="post">
		<input autofocus class="form-control" id="guess-input" type="text" name="guess">
		<button class="form-control btn btn-primary" id="guess-submit" type="submit">Guess!</button>
	</form>

	
	<div id="message-wrapper"></div>

	<div id="game-details-wrapper">
		<ul id="found-words" class="list-unstyled"></ul>
		<div id="high-score-wrapper"></div>
		<div id="games-played-wrapper"></div>
		<div id="score-wrapper"></div>
	</div>

	<div id="new-game-btn-wrapper"></div>



{% endblock %}
